<ion-header>
    <ion-navbar style="display:none">
        <ion-title>

        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding text-center class="Absolute-Center">
    <button id="btnIzquierdo" color="light" ion-button clear large item-left (click)="clickBtnIzquierdo()">    </button>
    <button id="btnClave" color="assertive" ion-button clear small item-right (click)="desbloquear()">      </button>
    <div id="invisibe" hidden="true">
        <ion-item>
            <button id="btnDerecho" item-right ion-button clear small (click)="pedirEncuestaNueva()">Cargar</button>
            <ion-label>Id: {{uuid}}</ion-label><br/>
            <ion-label>Versión: {{version}}</ion-label>
            <ion-input #input type="password" id="clave" (input)="setClave($event.target.value)" [value]="clave" ([ngModel])="clave"></ion-input>
        </ion-item>
    </div>
    <br/>
    <div *ngIf="preguntaInicial != ''">
        <div text-center id="divPreguntaInicial" style="font-family: Arial, Helvetica, sans-serif; font-size: 6em">
            {{preguntaInicial.pregunta}}
        </div>
        <div *ngIf="opcionesIniciales != []">
            <ion-list *ngIf="opcionesIniciales[0].imagen != ''">
                <img *ngFor="let opcion of opcionesIniciales" src="{{opcion.imagen}}" (click)="sacaFoto(opcion)" round/>
            </ion-list>

            <ion-list *ngIf="opcionesIniciales[0].imagen == ''">
                <ion-item *ngFor="let opcion of opcionesIniciales" text-center id="divOpcionesIniciales" style="font-family: Arial, Helvetica, sans-serif; font-size: 5em">
                    <button color="amarillito" ion-button full round (click)="sacaFoto(opcion)" large icon-left>
                <ion-icon name="ion-load-b"></ion-icon>
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 3em">{{opcion.opcion}}</p>
            </button>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <!--div text-center>
        {{consol}}
    </div-->

</ion-content>