<ion-header>
    <ion-navbar style="display:none">
        <ion-title>

        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="botonera" text-right>
        <button item-left id="btnIzquierdo" color="light" ion-button clear small item-left (click)="clickBtnIzquierdo()"> * </button>
        <button item-right id="btnDerecho" color="light" ion-button clear small item-right (click)="clickBtnDerecho()"> * </button>
    </div>
    <div id="invisibe" hidden="true">
        <ion-item>
            <ion-label>Dispositivo: {{uuid}}</ion-label>
            <ion-input type="password" id="clave" (input)="setClave($event.target.value)" [value]="clave"></ion-input>
            <button item-right id="btnClave" color="assertive" ion-button clear small item-right (click)="desbloquear()">Desbloquear</button>
        </ion-item>
    </div>
    <div text-center id="preguntaContainer" style="font-family: Arial, Helvetica, sans-serif; font-size: 5em"></div>
    <div id="opcionesContainer" text-center>
        <ion-list>
            <ion-item *ngFor="let opsi of opcionesInicialesSI">
                <h3 (click)="sacaFoto(opsi)">{{opsi.opcion}}</h3>
            </ion-item>
            <img *ngFor="let opci of opcionesInicialesCI" src="{{opci.imagen}}" id="{{opci.id}}" (click)="sacaFoto(opci)" />
            <ion-item *ngFor="let opsi of opcionesSinImagen">
                <button color="amarillito" ion-button full round (click)="preguntaSgte(opsi)" large icon-left>
                    <ion-icon name="ion-load-b"></ion-icon>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 2em">{{opsi.opcion}}</p>
                </button>
            </ion-item>
            <img *ngFor="let opci of opcionesConImagen" src="{{opci.imagen}}" id="{{opci.id}}" (click)="preguntaSgte(opci)" />

        </ion-list>
    </div>
</ion-content>