page-home {
    #preguntaContainer {
        font-size: 20;
    }
    #btnIzquierdo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        z-index: 30;
    }
    #btnClave {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100px;
        height: 100px;
        z-index: 2020;
    }
    .Absolute-Center {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        //overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    #btnDerecho {
        position: absolute;
        top: 10px;
        right: 120px;
        width: 100px;
        height: 100px;
        z-index: 2020;
    }
}